name: Daily Crous Menu

on:
  schedule:
  
    - cron: '0 9 * * *'  
    - cron: '0 16 * * *' 
  workflow_dispatch:      

jobs:
  send_menu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: pip install requests beautifulsoup4
        
      - name: Run bot
        run: python src/bot.py
