name: Send Daily Crous Menu
on:
  schedule:
    - cron: '30 9 * * 1-5' 
  workflow_dispatch:      

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install requests
      - name: Execute Bot
        env:
          WA_PHONE_ID: ${{ secrets.WA_PHONE_ID }}
          WA_TOKEN: ${{ secrets.WA_TOKEN }}
          RECIPIENT_PHONE: ${{ secrets.RECIPIENT_PHONE }}
        run: python src/bot.py
